<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
     <containers>
      <container name="defaultContainer">
        <register type="MRMS.Interfaces.ISystemConfig, MRMS" mapTo="MRMS.Helpers.SystemConfig, MRMS">
          <lifetime type="singleton" />
        </register>
        <register type="MRMS.Interfaces.IRestConnection, MRMS" mapTo="MRMS.Helpers.RestConnection, MRMS">
          <lifetime type="singleton" />
        </register>
        <register type="MRMS.Dialogs.ProgressDialog, MRMS" mapTo="MRMS.Dialogs.ProgressDialog, MRMS"/>
      </container>
    </containers>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>