<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="net40" />
  <package id="FluentScheduler" version="5.3.0" targetFramework="net40" />
  <package id="Fody" version="2.1.2" targetFramework="net40" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.5.1" targetFramework="net40" />
  <package id="Meta.Vlc" version="17.06.20" targetFramework="net40" developmentDependency="true" />
  <package id="Meta.Vlc.Wpf" version="17.06.20" targetFramework="net40" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="4.5.6" targetFramework="net40" />
  <package id="Prism" version="4.1.0.0" targetFramework="net40" />
  <package id="Prism.UnityExtensions" version="4.1.0.0" targetFramework="net40" />
  <package id="PropertyChanged.Fody" version="1.53.0" targetFramework="net40" developmentDependency="true" />
  <package id="RestSharp" version="105.2.3" targetFramework="net40" />
  <package id="Unity" version="2.1.505.0" targetFramework="net40" />
  <package id="Vlc.DotNet.Core" version="2.1.142" targetFramework="net40" />
  <package id="Vlc.DotNet.Core.Interops" version="2.1.142" targetFramework="net40" />
  <package id="Vlc.DotNet.Forms" version="2.1.142" targetFramework="net40" />
  <package id="Vlc.DotNet.Wpf" version="2.1.142" targetFramework="net40" />
</packages>